{{ block title }}Participant {{tag}}: Your Instructions{{ endblock }}
{% block styles %}
<style>
        span {
            min-height: 100px;
            align-items: center;
        }

        .btn-primary {
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 2px 6px 0 rgba(0, 0, 0, 0.19);}

        .btn-primary:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
</style>
{% endblock %}

{{ block content }}
{{if survey_instr}}

{% include 'GPD/instructions-survey.html'%}
{{else}}

            <p>
                You have been assigned the label <b>{{ tag }}</b>. You have been paired with {{ opp_tag }}.
        </p>
                <p>
        {{ if first_gen }}
            You are the first set of participants. You receive no advice from previous subjects.
        {{ else }}
            You received the following advice from participant {{ pred_tag }}:
            <div style = 'height:100px; border:1px solid black;padding:10px;margin-bottom: 1cm;overflow:auto;' align="left">
            <i>
                {{r_advice}}
            </i>
            </div>
        {{ endif }}
                </p>
{% include 'GPD/instructions.html'%}
{{endif}}
{{ next_button }}
{{ endblock }}